.top-text
  %h2= _("Hello %{username},") % {:username => h(current_user.name)}
  %p= _("Here your can manage contracts, and import them from your email!")

- page_with_tabs(:contacts) do
  - contacts_navigation(:import)
  .events-holder
    %h3= _("Importing Contacts from %{name}") % {:name => @contact_importer.name}
    .import-result
      - if @contact_importer.completed_at.blank?
        = _("Please wait...")
        != javascript_tag(check_for_importer_status_js)
      - else
        != link_to contacts_imported, contacts_path
      - unless @contact_importer.last_error.blank?
        %p
          %h4= _("An error occured during importing contacts from %{name}") % {:name => @contact_importer.name}
          %span.error= @contact_importer.last_error
        .contact-btns
          %br
          %br
          %br
          != link_to s_("import|Try Again"), contact_importers_path(:id => @contact_importer), :class => "btn"