- if design
  .img-box-t
    .img-box-b
      .content-h
        .image
          != update_design_link(event, design, category, "", image_tag(design.preview.url(:medium), :alt => "", :size=>"218x145"))
      != update_design_link(event, design, category)
      - unless design.designer.blank?
        != link_to _("Designer's Page"), "/designers/#{design.designer.friendly_url}", :class => "designer_link"
      != design_zoom(event, design, category)
