- if design
  .img-box-t
    .img-box-b
      .content-h
        .image
          %a{ :href => "#light_box_#{design.id}", :class => "nyroModal" }
            != image_tag(design.preview_with_text.url(:medium), :alt => "")
      != select_design_link(category, design)
      %a{ :href => "#light_box_#{design.id}", :class => "plus nyroModal" } +
  %div{ :id => "light_box_#{design.id}", :class => 'lightbox', :style => 'display:none; width:670px; height:500px'}
    != image_tag(design.preview_with_text.url(:lightbox))
    != select_design_link_lightbox(category, design)