%data
  %result
    %source
      assets/img/20_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/class_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/cloud_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/dira_ants_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/dira_box_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/dira_turtle_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/elefant_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/his_bday_star_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/horn_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/ravak_beach_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/ravak_beer_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/ravak_bowling_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/ravakot_dress_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/ravakot_drink_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/red_heart_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/boker_brown_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/boker_pink_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/boker_tea_green_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/boker_wine_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/brit_panda_pink_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/brit_panda_cyan_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/hatuna_flowers_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/hatuna_lev1_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/yonim_ken_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/dragon_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/flags_carousel.png
    %path
      != url_for(lobby_url)
  %result
    %source
      assets/img/ball_carousel.png
    %path
      != url_for(lobby_url)
