- @meta_title=_("Create the perfect %{category_name} online invitation") % { :category_name => @category.name }
- @meta_description=_("Create, send & manage online invitations with templates to match any event! Online invitations made easy.")
- @page_title=_("Invitations | Eventify")
- content_for(:head) do
  != stylesheet_link_tag "nyroModal.full"
  != javascript_include_tag "jquery.nyroModal"

.twocolumns
  .content-wrapper
    .content-wrapper-top
      != will_paginate(collection, :renderer => DesignsWillPaginate)
      %h1= @category.name

    .image-boxes-h
      - collection.in_groups_of(3).each do |group|
        .image-boxes-h-row
          - group.compact.each do |d|
            .img-box
              != render(:partial => "designs/selector", :locals => {:event => nil, :design => d})

    .content-wrapper-bottom
      != will_paginate(collection, :renderer => DesignsWillPaginate)
    
  #sidebar
    .holder
      %h2= _("Categories")
      %ul.sub-nav
        - all_enabled_categories.each do |c|
          %li{:class => (c.id == @category.id ? "active" : "")}
            != link_to c.name, category_designs_path(c)
        
