- content_for(:head) do
  != stylesheet_link_tag "nyroModal.full"
  != javascript_include_tag "jquery.nyroModal"

- events_content_section(1, @event) do
  .content-section-heading
    %h1= _("Invitation Design")
  .twocolumns

    .side-area
      .side-area-h
        %h3
          = _("You can always:")
        .btns-h
          - if current_locale == "he"
            %a.btn-right.nyroModal{:href => "#change_design"}= _("Change design")
          - else
            %a.btn-left.nyroModal{:href => "#change_design"}= _("Change design")

    != render(:partial => "events/selected_design")

#change_design
  != render(:partial => "designs/change_design")
