- @page_title = _("Design | Eventify")
- @content_css_class = "stars-bg stage-3"

- content_for(:head) do
  != stylesheet_link_tag "nyroModal.full", "jquery.Jcrop", "rsvps"
  != javascript_include_tag "jquery.nyroModal", "jquery.Jcrop", "stage1"
  != set_alert

- events_content_section(1, @event) do
  .content-section-heading
    %h1= _("Invitation Design")
  .twocolumns

    .side-area
      .side-area-h
        %h3
          = _("You can always:")
        .btns-h
          - if current_locale == "he"
            %a.btn-right.change-design{:href => "#"}= _("Change design")
          - else
            %a.btn-left.change-design{:href => "#"}= _("Change design")
        .divider &nbsp;
        - unless @event.new_record?
          :javascript
            stage1.event_designs_path = #{designs_path(:event_id => @event).to_json};
        :javascript
          stage1.cetagory_id = #{@category.id};
      - if @design.windows.length > 0
        .side-area-h
          %h3
            = _("Upload your own pictures and insert them into the invitation")
            %a{:class => "link", :href => "#", :style => "display:none;"}
              = _("Watch example")
            .sml-gallery
              %a{:class => "next-g-btn", :href => "#"}
                = _("Next")
              .holder
                %ul
                  != render(:partial => "uploaded_pictures/uploaded_pictures")
              %a{:class => "prev-g-btn", :href => "#"}
                = _("Prev")
            %p
              = _("Drag your uploaded pictures into the invitation. In order to remove a picture all you have to do is drag it back out of the invitation")
            #cropbox{:style => "width: 280px"}
            != render(:partial => "cropped_pictures/new")
    != render(:partial => "events/selected_design")

#delete_updates_me{:style => "display:none"}
