- @page_title=_("Login | Eventify")
.settings-box.login
  - middle_box_section("") do
    - form_for(@user_session, :url => user_session_path, :builder => MiddleBoxFormBuilder::Builder) do |f|
      = f.object.errors.on(:base)
      != f.text_field :email, :label => _("Email")
      != f.password_field :password, :label => _("Password")
      .settings-form-row
        %label &nbsp;
        = _("Remember me")
        != f.check_box :remember_me, :id => "check-remember"
      .settings-form-btns
        != link_to_function content_tag(:span, _("Login")), "jQuery(this).parents('form').get(0).submit()", :class => "blue-btn-alt"
        %span.cancel-btn
          != link_to _("Forgot password?"), new_password_path, :class => "forgot_password"
