!= f.text_field :name, :td_class => "t-col-1"
!= f.text_field :email, :td_class => "t-col-2"
!= f.text_field :mobile_phone, :td_class => "t-col-3"
- info_table_column("4-short") do
  &nbsp;
!= f.text_field :attendees_count, :td_class => "t-col-4a-short", :input_css_class => "short"
!= f.check_box :send_email, :td_class => "t-col-5"
!= f.check_box :send_sms, :td_class => "t-col-6"
