%ul.contact-list
  %li.event
    %a{ :href => "#" }
      %strong
        %span= _("Import from previous event")
  %li.mail
    %a{ :href => "#" }
      %strong
        %span
          = _("Import from mail")
          %em= _("(google, yahoo, etc.)")
  %li.file
    %a{ :href => "#" }
      %strong
        %span= _("Import CSV file")
  %li.address-book
    %a{ :href => "#" }
      %strong
        %span= _("Import from eventify's address book")
  %li.facebook
    %a{ :href => "#" }
      %strong
        %span= _("Import from facebook")
