%tr#new_guest_row
  - new_guest_form do |f|
    != f.hidden_field :save_as_contact, :value => "true"
    != render(:partial => "form", :locals => {:f => f})
    - info_table_column do
      != submit_tag _("Add"), :id => "adding_guest"
    != change_observers

:javascript
  jQuery(function(){    
    jQuery("#new_guest_row input[name=guest[email]]").autocomplete({source:#{current_user.contacts.collect(&:email).to_json}});
    jQuery("#new_guest_row form").submit(function(){
      window.location.hash = "guest_added";
    });
    jQuery("input[name=guest[email]]").live("change", function(){
      //fix bug when copying addresses from gmail - they sometimes add a hidden whitespace
      jQuery(this).val(jQuery(this).val().replace(/[\s\u200B]/,""));
    })
  });
  