- @content_css_class = "stars-bg stage-3"

- events_content_section(3, {:href => "alert('todo')"}, {:href => "alert('todo')"}) do
  .info-area

    %ul.info-area-nav
      %li.active!= link_to_function _("Guest List"), ""
      %li!= link_to_function _("Things to bring"), ""

    .info-area-tab
      .holder
        .frame
          %h3= _("Add from existing contact list:")
          != render(:partial => "import")

          %h3= _("Add manually:")

          %table#guests.info-table
            != render(:partial => "guests_header")
            %tbody
              != render(:partial => "guest", :collection => collection)
          
          != render(:partial => "new")