- @page_title=_("Invite | Eventify")
- @content_css_class = "stars-bg stage-3"
- content_for :head do
  != stylesheet_link_tag "nyroModal.full"
  != javascript_include_tag("jquery.floatheader.min", "guests", "jquery.nyroModal", "jquery.unload")
  :javascript
    jQuery(function(){
      jQuery("table#guests").floatHeader();
      jQuery("#new_guest_row input:text").unload_monit(#{_("You didn't save the last added guest.").to_json});
    });

- events_content_section(3, @event) do
  .info-area

    %ul.info-area-nav
      %li.active!= link_to _("Guest List"), event_guests_path(@event)
      %li!= link_to _("Things to bring"), event_things_path(@event)

    .info-area-tab
      .holder
        .frame
          %h3= _("Add from existing contact list:")
          != render(:partial => "import")

          .cancel-form
            .input-area
              != text_field_tag "search_guests", _('search'), :id => "search_guests", :class => "i-text"
              != link_to_function image_tag("icon-close.gif"), "", :class => "close-btn", :id => "cancel_search"
              :javascript
                jQuery(function(){
                  jQuery("#search_guests").click(function(){
                    if (jQuery(this).val() == '#{_('search')}'){jQuery(this).val('');}
                  }).blur(function(){
                    if (jQuery(this).val() == ''){jQuery(this).val('#{_('search')}');}
                  })
                  jQuery("#cancel_search").click(function(){
                    jQuery("#search_guests").val("#{_('search')}");
                  });
                });

          %h3= _("Add manually:")
          %p.rsvp-filter
            %strong= _("Filter by RSVP:")
            != link_to_function _("All"), "", :id => "filter_all"
            != link_to_function _("Yes"), "", :id => "filter_yes"
            != link_to_function _("No"), "", :id => "filter_no"
            != link_to_function _("May Be"), "", :id => "filter_maybe"

          %table#guests.info-table
            != render(:partial => "guests_header", :locals => {:check_all => true})
            %tbody
              != render(:partial => "guest", :collection => collection)
        
              != render(:partial => "new")