- @page_title=_("Invite | Eventify")
- @content_css_class = "stars-bg stage-3"
- content_for :head do
  != stylesheet_link_tag "nyroModal.full"
  != javascript_include_tag("jquery.floatheader.min", "guests", "jquery.nyroModal", "jquery.unload")
  :javascript
    jQuery(function(){
      jQuery("table#guests").floatHeader();
      jQuery("#new_guest_row input:text").unload_monit(#{_("You didn't save the last added guest.").to_json});
    });

- events_content_section(3, @event) do
  .info-area

    %ul.info-area-nav
      %li.active!= link_to _("Guest List"), event_guests_path(@event)
      %li!= link_to _("Things to bring"), event_things_path(@event)

    .info-area-tab
      .holder
        .frame
          %h3= _("Add from existing contact list:")
          != render(:partial => "import")

          .cancel-form
            .input-area
              - form_tag event_guests_path(@event), :method => :get do
                != text_field_tag "query", params[:query], :id => "search_guests", :class => "i-text", :def_value => "#{_("search")}"
                != link_to image_tag("icon-close.gif"), event_guests_path(@event), :class => "close-btn"
              :javascript
                jQuery(function(){
                  clearInputs("search_guests");
                  jQuery("#cancel_search").click(function(){
                    jQuery("#search_guests").val("").blur();
                  });
                });

          %h2.total_guests= _("Total guests - %{total_guests}") % {:total_guests => @event.guests.count}
          %h3= _("Add manually:")
          %p.rsvp-filter
            %strong= _("Filter by RSVP:")
            != link_to _("All"), event_guests_path(@event), :class => scope_class
            != link_to _("Yes"), event_guests_path(@event, :rsvp_yes => true), :class => scope_class(:rsvp_yes)
            != link_to _("No"), event_guests_path(@event, :rsvp_no => true), :class => scope_class(:rsvp_no)
            != link_to _("May Be"), event_guests_path(@event, :rsvp_maybe => true), :class => scope_class(:rsvp_maybe)

          %table#guests.info-table
            != render(:partial => "guests_header", :locals => {:check_all => true})
            %tbody
              != render(:partial => "guest", :collection => collection)
        
              != render(:partial => "new")

          != will_paginate(collection, :renderer => DesignsWillPaginate)