- @page_title=_("Summary | Eventify")
- content_for(:head) do
  != stylesheet_link_tag "nyroModal.full"
  != javascript_include_tag "jquery.nyroModal"

- @content_css_class = "stars-bg"

- events_content_section(5, @event, {}, :content_section_class => "content-section-alt") do
  .content-section-heading
    %h1
      = @event.name
      - event_status

  - info_container do
    .columns
      .main-column
        .info-container-image!= image_tag(@event.design.card.url(:list))
        .info-container-holder
          .info-container-row
            %dl
              - unless @event.location_name.blank?
                %dt= _("Where:")
                %dd= @event.location_name
              %dt= _("Date:")
              %dd= @event.starting_at.to_s(:isra_date)
              %dt= _("Time")
              %dd= @event.starting_at.to_s(:isra_time)
          - unless @event.ending_at.blank?
            .info-container-row
              = _("Event ends at")
              %dl
                %dt= _("Date:")
                %dd= @event.ending_at.to_s(:isra_date)
                %dt= _("Time")
                %dd= @event.ending_at.to_s(:isra_time)
          - unless @event.location_address.blank?
            .info-container-row
              %dl
                %dt= _("Address:")
                %dd= @event.location_address
          .info-container-row
            %strong.heading= _("Export to your calendar:")
            != render(:partial => 'shared/export_links', :locals => {:lnk => :event_ical_path, :event => @event, :email => true})
      .column
        %h2= _("Guests summary")
        .lists
          %dl.def-list
            - if @event.bounced_emails_count > 0
              %dt
                != link_to _("Bounced emails"), event_guests_path(@event, :bounced => true)
                %span= "info"
              %dd= @event.bounced_emails_count
            %dt= _("Guests")
            %dd= @event.guests.count
            %dt= _("Total arriving guests")
            %dd= @event.guests.rsvp_yes.total_attendees_count
          %dl.def-list
            %dt.green= _("RSVP yes")
            %dd.green= @event.guests.rsvp_yes.count
            %dt.orange= _("RSVP may be")
            %dd.orange= @event.guests.rsvp_maybe.count
            %dt.red= _("RSVP no")
            %dd.red= @event.guests.rsvp_no.count
            %dt= _("Not responded")
            %dd= @event.guests.rsvp_not_responded.count
      .column-1
        %h2= _("Things to bring")
        .lists
          %dl.def-list
            - if @event.things.total_amount.to_i > 0
              %dt= _("Selected")
              %dd= _("%{percent} %") % {:percent => (@event.things.total_amount_picked.to_f * 100 / @event.things.total_amount).to_i}
            - else
              %dt= _("No things to bring")
              %dd &nbsp;
          - if @event.changes_allowed?
            != link_to _("edit"), event_things_path(@event), :class => "more-link"

  - info_container("info-container-alt") do
    .top-holder
      %ul.contact-list.tools-list
        %li
          != link_to content_tag(:strong, content_tag(:span, _("Pring Guests List"))), event_other_guests_path(@event, :print => true), :class => "print", :target => "_blank"
      - form_remote_tag :url => event_other_guests_path(@event) , :method => :get, :html => {:method => :get, :class => "cancel-form"} do
        .input-area
          != text_field_tag "query", _("search"), :class => "i-text", :id => "guests_query"
          != link_to_function image_tag("icon-close.gif"), "", :class => "close-btn"
          :javascript
            jQuery(function(){
              jQuery("#guests_query").click(function(){
                if (jQuery(this).val() == '#{_('search')}'){jQuery(this).val('');}
              }).blur(function(){
                if (jQuery(this).val() == ''){jQuery(this).val('#{_('search')}');}
              })
              jQuery("a.close-btn").click(function(){
                jQuery('#guests_query').val('').focus();
                jQuery.ajax({dataType:'script', type:'get', url:#{event_other_guests_path(@event, :columns_count => @columns_count).to_json}});
              });
            });

    .other-guests.tabs-container
    :javascript
      jQuery(function(){
        jQuery.ajax({url: #{event_other_guests_path(@event).to_json}, type:'get', dataType:'script'});
      });
    .info-bottom
      - if @event.changes_allowed?
        != link_to _("Full Guests List"), event_guests_path(@event), :class => "btn-sml"
        %p
          != link_to _("Cancel event"), event_path(@event), :confirm => _("Are you sure?"), :method => :delete
      -elsif @event.canceled?
        %p
          = _("Event cancelled:")
          - if !@event.cancellation_sent?
            != link_to _("Notify guests"), edit_cancellation_path(@event)
          - else
            = _("Guests notified")
      %p
        = _("If some of your guests didn't recieve the invitation")
        != link_to _("click here for help"), page_path("no_invitation")
    %br
