- @content_css_class = "stars-bg"
#upper_panel_top
#upper_panel_center
  .header1
    %h1= @landing_page.h1
  .upper_panel_image
    != image_tag @landing_page.image.url(:lp), :width => "100%", :height => "100%"
  .panel-separator
  .header2
    %h2= @landing_page.h2
.start-box
  != link_to _("Click here to start!"), category_designs_path(@landing_page.category), :class => "btn-start-long"
#lower_panel
  .date-box.landing-page-remind{:style => "visibility: hidden;"}
    .holder
      .frame
        .text-block
          %h2= _("Remind me")
          %p
            %strong= _("Want to plan an event and not forget?")
          %p= _("Set a reminder to be sent directly to your mail")
        %form.remind-form{:action => "#"}
          %fieldset
            %dl
              %dt= _("Date:")
              %dd
                %a.calendar-link{:href => "#"}
            .row
              %label{:for => "email-field"}= _("Email:")
              .text
                %input#email-field.text{:type => "text", :value =>""}
            .btn-hold
              %a{:href => "#"}= _("Send")
        %span.email-label
  .feature-box
    .green-bullet
    .feature-text
      .feature-title= @landing_page.item1_header
      .feature-body= @landing_page.item1_body
  .feature-box
    .green-bullet
    .feature-text
      .feature-title= @landing_page.item2_header
      .feature-body= @landing_page.item2_body
  .feature-box
    .green-bullet
    .feature-text
      .feature-title= @landing_page.item3_header
      .feature-body= @landing_page.item3_body
  #quote-box
    #quote
      #quote_text= "\"#{@landing_page.quote}\""
    #quoted
      - if @landing_page.quoted.blank?
        %img{:src => "/images/quoted_thumb.png"}
      -else
        != image_tag @landing_page.quoted.url(:thumb)
      #quoted_name.quoted_text= @landing_page.quoted_name
      #quoted_city.quoted_text= @landing_page.quoted_city
