%tr
  %td= design.id
  %td= "#{design.category.name_en} / #{design.category.name_he}"
  %td= "(#{design.text_top_x}, #{design.text_top_y}), #{design.text_width}x#{design.text_height}"
  %td!= link_to image_tag(design.card.url(:small)), admin_design_path(design)
  %td= design.in_carousel
  %td!= link_to "Delete", admin_design_path(design), :method => :delete, :confirm => "Are you sure?"
  %td!= link_to "Edit", edit_admin_design_path(design)