!= f.error_messages

- f.inputs do
  .categories-list
    != render(:partial => "classification", :collection => f.object.classifications.not_root, :locals => {:f => f})
    .clear
    %br
    %br
  != link_to_add_category(f)

- f.inputs do
  != f.input :text_top_x, :label => "Text X (upper left)"
  != f.input :text_top_y, :label => "Text Y (upper left)"
  != f.input :text_width
  != f.input :text_height
  
  != f.input :font_body, :as => :select, :label => "Default message font name", :collection => ["כוס חלב","בלנדר","אינפרא","סימן קריאה","קריסטייל","ספידמן","קרטיב קרח","מכבי בלוק","פלסטיק","רענן"]
  != f.input :message_color, :label => "Default message color: r,g,b"

  != f.input :title_top_x, :label => "Title X (upper left) - optional"
  != f.input :title_top_y, :label => "Title Y (upper left) - optional"
  != f.input :title_width, :label => "Title width - optional"
  != f.input :title_height, :label => "Title height - optional"
  
  != f.input :font_title, :as => :select, :label => "Default title font name", :collection => ["כוס חלב","בלנדר","אינפרא","סימן קריאה","קריסטייל","ספידמן","קרטיב קרח","מכבי בלוק","פלסטיק","רענן"]
  != f.input :title_color, :label => "Default title color: r,g,b"

  != f.input :text_align, :label => "Default text alignment"
  != f.input :in_carousel, :label => "this invitation should be in the carousel"

- f.inputs do
  != f.input :card, :as => :file, :label => "Invitation (usually named 'something_small.png')"
  != f.input :preview, :as => :file, :label => "Preview with text(usually named 'something_small_text.png')"
  != f.input :carousel, :as => :file, :label => "carousel file(usually named 'something_carousel.png')"