!= link_to "Back to designs", admin_designs_path
!= link_to "Edit", edit_admin_design_path(@design)

%h3!= categories_list(@design)

%h4 Text Area
Topx:
= @design.text_top_x
TopY:
= @design.text_top_y
Width:
= @design.text_width
Height:
= @design.text_height
message font:
= @design.font_body
font color:
= @design.message_color

%h4 Title Area
- if @design.is_seperated_title?
  Topx:
  = @design.title_top_x
  TopY:
  = @design.title_top_y
  Width:
  = @design.title_width
  Height:
  = @design.title_height
title font:
= @design.font_title
font color:
= @design.title_color

%h4 general info
text align: 
= @design.text_align

%h4 windows
!= link_to "New Window", new_design_window_path(@design)
%table
  %tr
    %th ID
    %th Top X
    %th Top Y
    %th Width
    %th Height
    %th &nbsp;
    %th &nbsp;
  - for window in @windows
    != render(:partial => "windows/window",:locals => {:window => window, :design => @design})

%h4 Post card
.background_holder{:style => "position:relative;width:900px;height:600px;border:1px solid #666" }
  %img.back{:src => "#{@design.card.url}"}
  - if @design.is_seperated_title?
    - title_holder(@design, 'absolute')
  .msg_holder{:style => "position:absolute;left:#{@design.text_top_x}px; top:#{@design.text_top_y}px; width:#{@design.text_width}px; height:#{@design.text_height}px; color:rgb(#{@design.message_color}); text-align: #{@design.text_align}; border: 1px dashed blue; font-size: 30px"}
    - unless @design.is_seperated_title?
      - title_holder(@design, 'relative')
    Invitation message goes here
  - for window in @windows
    .window{:style => "#{window_css(window)};position:absolute;border: 1px dashed red;"}