#upload_file.import.lb-popup.lb-popup-1
  .c
    .popup-heading
      %strong= _("Advanced import methods")

    - form_tag event_guest_importers_path(@event), :multipart => true, :target => "upload_frame", :class => "download-form" do
      - if @error
        %p.error-msg= @error
      %fieldset
        %h2= s_(GuestImportersController::TITLES["csv"])
        .brown-box
          .brown-box-holder
            .f-row
              != file_field_tag :csvfile, :size => "68"
              != hidden_field_tag :source, "csv"
        %h2= s_(GuestImportersController::TITLES["email_list"])
        .brown-box
          .brown-box-holder
            .f-row
              != text_area_tag(:email_list, nil, :def_value => _("1. Enter your personal email in a seperate window.\r\n2. Insert your guests' emails into the 'to' line\r\n3. Copy the 'to' line and paste it here.\r\n4. Click the import button"))
              != hidden_field_tag :contact_source, "email_list"
      .contact-btns.popup-btns
        %br
        != link_to_function _("Import"), "jQuery(this).parents('.contact-btns').hide();jQuery('.import .loading').show();jQuery(this).parents('form').submit()", :class => "btn csv-submit"
        != link_to_function _("Cancel"), "jQuery.nyroModalRemove()", :class => "btn"
        %br
      .loading.popup-btns{:style => "display:none"}
        = _("Loading CSV file, please wait...")


%iframe#upload_frame{:name => "upload_frame", :style => "display: none"}