.import
  .popup-heading
    %strong= s_(GuestImportersController::TITLES["email"])

  - form_tag event_guest_importers_path(@event), :builder => MiddleBoxFormBuilder::Builder, :target => "upload_frame" do
    - if @error
      %p.error-msg= @error
    .download-form
      != label_tag "GMail"
      != radio_button_tag :contact_source, "gmail", "gmail" == params[:contact_source]
      != label_tag "Hotmail"
      != radio_button_tag :contact_source, "hotmail", "hotmail" == params[:contact_source]
      != label_tag "AOL"
      != radio_button_tag :contact_source, "aol", "aol" == params[:contact_source]
      != hidden_field_tag :source, "email"
      != label_tag "Username/Email"
      != text_field_tag :username
      != label_tag "Password"
      != password_field_tag :password
    .contact-btns.popup-btns
      %br
      %br
      %br
      != link_to_function _("Import"), "jQuery(this).parents('.contact-btns').hide();jQuery('.import .loading').show();jQuery(this).parents('form').submit()", :class => "btn csv-submit"
      != link_to_function _("Cancel"), "jQuery.nyroModalRemove()", :class => "btn"
      %br
      %br
      %br
    .loading.popup-btns{:style => "display:none"}
      = _("Importing, please wait...")

%iframe#upload_frame{:name => "upload_frame", :style => "display: none"}