.f-row
  %strong.title= _("Send By")
  %ul.hosts-container
    %li
      != f.check_box :by_email, :class => "input-check"
      != f.label :by_email, _("Email"), :class => "mail"
      != f.inline_errors_for :by_email
    %li
      != f.check_box :by_sms, :class => "input-check"
      != f.label :by_sms, _("SMS"), :class => "phone"
      != f.inline_errors_for :by_sms

.f-row
  %strong.title= _("Send At")
  .f-col
    .f-row-1
      .input-bg-alt.input-sml-1
        != f.text_field :before_value, :class => "input-text"
      != f.select :before_units, before_units_for_select
      != f.label :before_value, _("before the event")