.f-row
  != f.inline_errors_for :by_email
  != f.inline_errors_for :by_sms
  %strong.title= _("Send By")
  %ul.hosts-container
    %li
      != f.check_box :by_email, :class => "input-check"
      != f.label :by_email, _("Email"), :class => "mail"
    %li
      != f.check_box :by_sms, :class => "input-check"
      != f.label :by_sms, _("SMS"), :class => "phone"

.f-row
  != f.inline_errors_for :before_units
  != f.inline_errors_for :before_value
  %strong.title= _("Send At")
  .f-col
    .f-row-1
      .input-bg-alt.input-sml-1
        != f.text_field :before_value, :class => "input-text", :maxlength => "2"
      != f.select :before_units, before_units_for_select
      != f.label :before_value, _("before the event")
.f-row.f-row-alt
  .f-row-1
    != f.label :email_subject, _("Email subject")
    .input-bg-alt.input-alt-2
      != text_field_tag :email_subject, f.object.email_subject, :class => "input-text", :readonly => true
  != f.inline_errors_for :email_subject
  .f-row-1
    != f.label :email_body, _("Email body")
    .taxtarea-h
      .texarea-bg
        != text_area_tag :email_body, f.object.email_body, :readonly => true
  != f.inline_errors_for :email_body

.f-row.f-row-alt
  .f-row-1
    != f.label :sms_message, _("SMS Message")
    .taxtarea-h
      .texarea-bg
        != text_area_tag :sms_message, f.object.sms_message, :class => "sms-message-body", :readonly => true
  != f.inline_errors_for :sms_message
:javascript
  jQuery('p.error-msg').each(function(){
    jQuery(this).toggle(jQuery(this).html() !== '&nbsp;');
  });
