%div.tools[reminder]
  .tools-b
    .form-col.form-col-edit
      - if reminder.reminder_sent_at.nil?
        != link_to _("Edit"), edit_event_reminder_path(@event, reminder), :class => "link_to_edit_#{dom_id(reminder)} edit"
        :javascript
          jQuery(function(){jQuery('a.link_to_edit_#{dom_id(reminder)}').nyroModal();});
      - else
        = s_("reminder|(sent)")
    .form-col.form-col-alt
      - reminder_remote_is_active(reminder)
      %strong
        = reminder.before_in_words
        - if reminder.reminder_sent_at.nil?
          != link_to_remote "(#{_("remove")})", :url => event_reminder_path(@event, reminder), :method => :delete, :confirm => _("Are you sure?")
    - if reminder.by_email?
      .form-col
        %label.l-mail= _("By Email")
    - if reminder.by_sms?
      .form-col
        %label.l-mobile= _("By SMS")
    .clear
