<span style="font-size:16px;font-weight:bold;color:#41BDCD;font-family:arial;line-height:110%;">Hello <%= h(@guest.name) %>,</span>
<br/><br/>
Just a quick update:
<br/>
<%= h(@guest.event.user.name) %>'s <%= "\"#{h(@guest.event.name)}\"" %> event, will take place on <%= h(@guest.event.starting_at.to_s(:isra_date)) %> at <%= h(@guest.event.starting_at.to_s(:isra_time)) %> at <%= h(@guest.event.location) %>
<br/><br/>
Please click the envelope to see the updated invitation and RSVP to the event
<br/><br/>
<%= link_to(image_tag("http://eventify.co.il/images/envelope.png", :style => "border:0"), @url) %>
<br/><br/>
If clicking the envelope does not bring you to the invitation page, copy the following link and paste it in your browser.
<br/>
<%= link_to(@url, @url) %>
<br/><br/>
Please do not reply to this email.
<br/>
Best regards,
<br/>
The eventify Team.
