<html>
<body style="direction: rtl;">
<div style="direction: rtl;">
שלום <%= h(@guest.name)%>,
<br/><br/>
קיבלת הזמנה מ<%= h(@guest.event.user.name) %> ל <%= "\"#{h(@guest.event.name)}\"" %>.
<br/><br/>
לפתיחת ההזמנה יש ללחוץ על המעטפה.
<br/><br/>
<%= link_to(image_tag("http://eventify.co.il/images/envelope.jpg", :style => "border:0"), @url) %>
<br/><br/>
אם לחיצה על המעטפה אינה פותחת את ההזמנה, ניתן להעתיק את שורת הקישור הבאה ולהדביק אותה בשורת הכתובת בדפדפן:
<br/>
<%= link_to(@url, @url) %>
<br/><br/>
אין צורך להשיב למייל זה.
<br/>
בברכה,
<br/>
צוות Eventify
</div>
</body>
</html>