<span  style="font-size:16px;font-weight:bold;color:#41BDCD;font-family:arial;line-height:110%;">שלום <%= h(@guest.name)%>,</span>
<br/><br/>
קיבלת הזמנה מ<%= h(@guest.event.user.name) %> ל <%= "\"#{h(@guest.event.name)}\"" %>.
<br/><br/>
לפתיחת ההזמנה יש ללחוץ על המעטפה ולאשר השתתפותך בסרגל הכלים שבתחתית ההזמנה.
<br/><br/>
<%= link_to(image_tag("http://eventify.co.il/images/envelope.png", :style => "border:0"), @url) %>
<br/><br/>
אם אין תמונה של מעטפה, ניתן ללחוץ על הקישור הבא:
<br/>
<%= link_to @url, @url %>
<br/><br/>
אין צורך להשיב למייל זה.
<br/>
בברכה,
<br/>
צוות Eventify
