<html>
<body style="direction: rtl;">
  <%= h(@guest.name)%>
  יקר,  
  <br/><br/>
  הינך מוזמן לאירוע: 
  <%= "\"#{h(@guest.event.name)}\"" %>
   של 
  <%= h(@guest.event.user.name) %>
  <br/><br/>
  אנא לחץ על המעטפה על מנת לפתוח את ההזמנה ולהגיב עליה 
  <br/>
  <%= link_to(image_tag("http://eventify.co.il/images/envelope.jpg", :style => "border:0"), @url) %>
  <br/><br/>
  אם לחיצה על המעטפה אינה פותחת את ההזמנה, העתק את שורת הקישור הבאה והדבק אותה בשורת הכתובת בדפדפן בו אתה משתמש
  <br/>
  <%= link_to(@url, @url) %>
  <br/><br/>
  בברכה,
  <br/>
  צוות Eventify.
</body>
</html>