- form_remote_for :cropped_picture, CroppedPicture.new, :url => cropped_pictures_path, :html => {:id => "cropper"} do |f|
  - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
    != f.hidden_field attribute, :id => attribute
  != hidden_field_tag 'event', @event.id.to_i
  != hidden_field_tag 'window'
  != hidden_field_tag 'uploaded_picture'
  .btns-h
    != link_to_function _("Crop"), "$('body').css('cursor', 'wait');$.Jcrop('#cropbox img').destroy();$('#cropbox').html('');$('#crop, #cancel_crop').hide();$('#cropper').get(0).onsubmit()", {:id => "crop"}
    != link_to_function _("Cancel"), "$.Jcrop('#cropbox img').destroy();$('#cropbox').html('');$('#crop, #cancel_crop, .crop_preview').hide();$('#uploaded_picture,#window').val('')", {:id => "cancel_crop"}
