.import
  - popup_title(_("Things to bring"))
  .holder
    .frame
      .emails-phones
        %h3.things-header
          = _("Add things you want your guests to bring with them.")
          %br
          = _("Every guest would be able to pick one ore more items to bring.")

        %table.info-table.things
          != render(:partial => "things_header")
          %tbody
            != render(:partial => "thing", :collection => collection)

        - new_things_form do |f|
          %table.info-table.things
            %tbody
              %tr#new_thing_row
                != render(:partial => "form", :locals => {:f => f})
  .popup-btns.popup-btns-alt.one_button
    != link_to_function _("Approve"), "jQuery.nyroModalRemove();", :class => "btn"
