!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=EmulateIE7"}
    %style
      body.hebrew {direction: rtl;}
      th,td {padding: 0 10px;}
  %body{:class => body_class}
    %h1= parent.name
    %table
      %tr
        %th= _("Name")
        %th= _("Email")
        %th= _("Mobile")
        %th= _("RSVP")
        %th= _("Number of Guests")
        %th= _("Message to Host")
      - collection.each do |guest|
        %tr
          %td= guest.name
          %td= guest.email || "&nbsp;"
          %td= guest.mobile_phone || "&nbsp;"
          %td= guest.rsvp_text
          %td= guest.attendees_count
          %td= guest.message_to_host
    :javascript
      window.print()