- form_remote_for :user, @user ||= User.new, :builder => LoginFormBuilder::Builder, :url => users_path, :method => :post, :html => {:class => "form"} do |f|
  = f.object.errors.on(:base)
  != f.text_field :name, :value => @user.name || _("Name"), :id => "register_name"
  != f.text_field :email, :value => @user.email || _("Email"), :id => "register_email"
  :javascript
    jQuery(function(){
      clearInputs("register_name", "#{_('Name')}")
      clearInputs("register_email", "#{_('Email')}")
    })
  .form-area
    %span.sbmt
      != f.submit _("Register")