<div class="invitation_pdf">
  <div class="background_holder" style="position: relative">
    <%= image_tag(@event.design.card.url, :class => "back") %>
    <% if @event.design.is_seperated_title? %>
      <div class="title_holder" style="<%= title_position_css(@event, 1) %>">
        <div class="title">
          <%= (@event.invitation_title || "").gsub("\n", "<BR/>").gsub(" ", "&nbsp;") %>
        </div>
      </div>
    <% end %>
    <div class="msg_holder" style="<%= message_position_css(@event, 1) %>">
      <% if !@event.design.is_seperated_title? %>
        <div class="title" style="<%= title_position_css(@event) %>">
          <%= (@event.invitation_title || "").gsub("\n", "<BR/>").gsub(" ", "&nbsp;") %>
        </div>
      <% end %>
      <div class="msg">
        <%= (@event.guest_message || "").gsub("\n", "<BR/>").gsub(" ", "&nbsp;") %>
      </div>
    </div>
    <% for window in @event.design.windows %>
      <div class="window" window_id="<%= window.id %>" style="<%= window_css(window, 1) %>">
        <% for cropped_pic in window.cropped_pictures.find_all_by_event_id(@event.id.to_i) %>
          <%= image_tag(cropped_pic.pic.url(:original)) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<BR/>
<BR/>
<BR/>
<BR/>
<BR/>
<BR/>
<div class="invitation_pdf">
  <div class="background_holder" style="position: relative">
    <%= image_tag(@event.design.card.url, :class => "back") %>
    <% if @event.design.is_seperated_title? %>
      <div class="title_holder" style="<%= title_position_css(@event, 1) %>">
        <div class="title">
          <%= (@event.invitation_title || "").gsub("\n", "<BR/>").gsub(" ", "&nbsp;") %>
        </div>
      </div>
    <% end %>
    <div class="msg_holder" style="<%= message_position_css(@event, 1) %>">
      <% if !@event.design.is_seperated_title? %>
        <div class="title" style="<%= title_position_css(@event) %>">
          <%= (@event.invitation_title || "").gsub("\n", "<BR/>").gsub(" ", "&nbsp;") %>
        </div>
      <% end %>
      <div class="msg">
        <%= (@event.guest_message || "").gsub("\n", "<BR/>").gsub(" ", "&nbsp;") %>
      </div>
    </div>
    <% for window in @event.design.windows %>
      <div class="window" window_id="<%= window.id %>" style="<%= window_css(window, 1) %>">
        <% for cropped_pic in window.cropped_pictures.find_all_by_event_id(@event.id.to_i) %>
          <%= image_tag(cropped_pic.pic.url(:original)) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
