.container
  .main-box
    != link_to _("Start Now"), url_for(lobby_path), :class => "btn-start"
    %h1= _("Our site allows you to manage your events easily and have fun")
    %h2
      != main_box_text
  .box
    .image
      %img{ :src => "images/img-box-1.jpg", :alt => "ill" }
    %strong.num
      1
    .text-h
      %strong= _("Choose an invite")
      %p= _("From our fabelous gallery or upload your own pic")
  .box
    .image
      %img{ :src => "images/img-box-2.gif", :alt => "ill" }
    %strong.num
      2
    .text-h
      %strong= _("Enter event details")
      %p= _("You can also upload a map and a persoanl message")
  .box
    .image
      %img{ :src => "images/img-box-3.gif", :alt => "ill" }
    %strong.num
      3
    .text-h
      %strong= _("Invite Friends!")
      %p= _("You can also upload a map and a personal message")
