- content_for(:head) do
  != stylesheet_link_tag "contentflow_src", "nyroModal.full"
  != javascript_include_tag "contentflow", "carousel", "jquery.nyroModal"

!= render(:partial => 'promo')
!= render(:partial => 'container123')

.popular
  != render(:partial => "categories/two_designs", :locals => {:category => @popular_categories.first, :surround => "col-1"})
  != render(:partial => "categories/two_designs", :locals => {:category => @popular_categories.last, :surround => "col-2"})
