.edit
  .edit-bg
    != link_to_function _("Edit"), "", :class => "open-edit"
    != link_to_function _("open"), "", :class => "open"
    .drop
      .drop-top
      %ul
        %li!= link_to s_("edit event menu|Design"), event_design_path(event)
        %li!= link_to s_("edit event menu|Details"), edit_event_path(event)
        %li!= link_to s_("edit event menu|Guests list"), event_guests_path(event)
        %li!= link_to _("Advance Options"), event_path(event)
      .drop-btm
