- events_content_section(2, @event, :next => {:func => "clearInputsBeforeFormSubmission('event_user_attributes_name');clearInputsBeforeFormSubmission('event_user_attributes_email');clearInputsBeforeFormSubmission('event_name');clearInputsBeforeFormSubmission('event_location_name');clearInputsBeforeFormSubmission('event_location_address');jQuery('.form.new-event').submit()"}) do
  .content-section-heading
    %h1= _("Please fill out the events details")
  .twocolumns

    .side-area
      - semantic_form_for(@event, :live_validations => true, :html => {:class => "form new-event", :multipart => true}) do |f|
        != f.hidden_field :design_id
        != f.hidden_field :msg_font_size
        != f.hidden_field :title_font_size
        != f.hidden_field :title_text_align
        != f.hidden_field :msg_text_align
        != f.hidden_field :msg_color
        != f.hidden_field :title_color
        != f.hidden_field :font_title
        != f.hidden_field :font_body
        != render(:partial => "form", :locals => {:f => f})

    != render(:partial => "selected_design")
