- content_for(:head) do
  != months_arr

!= hidden_field_tag "wizard", params[:wizard]

= f.object.errors.on(:base)

- f.inputs do
  - unless logged_in?
    - f.fields_for :user do |user_f|
      - event_text_input(user_f, :name, _("Your Name"))
      - event_text_input(user_f, :email, _("Your Email"))
      .f-row
        != link_to _("I already have an account"), login_path, :class => "add-link"

  - event_text_input(f, :name, _("Event name"))
  != f.input :category, :label => _("Event Type"), :required => nil

  - event_date_time_select_combo(f, :starting_at) do
    .f-row
      != link_to_function _("Add End date &amp; Time"), toggle_ending_at_block, :class => "add-link show_ending_at", :style => "display:none"
      != link_to_function _("Remove End date &amp; Time"), toggle_ending_at_block, :class => "remove-link hide_ending_at"

- f.inputs :class => "ending_at_block" do
  - event_date_time_select_combo(f, :ending_at) do
    .f-row &nbsp;

- f.inputs do
  - event_text_input(f, :location_name, _("Location"))
  - event_text_input(f, :location_address, _("Address")) do
    - unless f.object.has_map?
      .f-row
        != link_to_function _("Add Map"), "jQuery(this).hide();jQuery('.map-section').toggle()", :class => "add-link"
- f.inputs :class => "map-section", :style => (f.object.has_map? ? "" : "display:none") do
  - event_text_input(f, :map_link, _("Map Link"), :live => false, :input_html => {:class => "input-text", :maxlength => "2048"}) do
    = _("or")
  - event_text_input(f, :map, _("Map Image"), :as => :file) do
    - unless f.object.map.url.blank?
      .f-row.current_map_iamges
        != link_to _("Current Map Image"), f.object.map.url, :target => "_blank"
        != link_to_remote _("Remove"), :url => event_event_maps_path(f.object), :method => :delete, :confirm => _("Are you sure?"), :before => "jQuery('.current_map_iamges').remove()"    

!= form_divider
- f.inputs do
  - event_input_text(f, :guest_message, _("Message to Guests"), _("(345 symbols max)"))
  != f.input :allow_seeing_other_guests, :as => :boolean, :label => _("Guests can see other attendees")