- f.inputs do
  - event_text_input(f, :name, _("Event name"))
  != f.input :category, :label => _("Event Type")

  - event_date_time_select(f, :starting_at) do
    .f-row
      != link_to_function _("Add End date &amp; Time"), toggle_ending_at_block, :class => "add-link show_ending_at", :style => "display:none"
      != link_to_function _("Remove End date &amp; Time"), toggle_ending_at_block, :class => "add-link hide_ending_at"

- f.inputs :class => "ending_at_block" do
  - event_date_time_select(f, :ending_at)
  - show_hide_ending_block_js(f)

- f.inputs do
  - event_text_input(f, :location_name, _("Location"))
  - event_text_input(f, :location_address, _("Address")) do
    .f-row
      != link_to_function _("Add Map"), "alert('todo')", :class => "add-link"
    != form_divider

  - f.fields_for :host do |hosts|
    - event_text_input(hosts, :name, _("Host Name"))
    - event_text_input(hosts, :name, _("Host Address")) do
      .f-row &nbsp;
      != form_divider

  - event_input_text(f, :guest_message, _("Message to Guests"), _("(345 symbols max)"))
