.pict
  != image_tag(event.design.preview.url(:list))
.boxe-text
  %p
    %strong= _("Hosts:")
    = event.user.name
  %p
    %strong= _("Date:")
    = event.starting_at.to_s(:isra_date)
  %p
    %strong= _("Time")
    = event.starting_at.to_s(:isra_time)
  - unless event_location(event).blank?
    %p
      %strong= _("Place:")
      = event_location(event)
  %p!= link_to _("Preview"), "#invitation#{event.id}", :class => "more nyroModal"
- invitation_preview(event) do
  != render(:partial => "rsvps/postcard", :locals => {:event => event})

