- @page_title=_("Reminders | Eventify")
- content_for(:head) do
  != stylesheet_link_tag "nyroModal.full", "rsvps"
  != javascript_include_tag "jquery.nyroModal", "rsvps", "jquery.unload"
  :javascript
    jQuery(function(){
      jQuery("ul.create-list li a").click(function(){
        var url = jQuery(this).attr("href");
        show_nyro_loading(function(){jQuery.ajax({url: url, type: "get", dataType:'script'});});
        return false;
      });
    })

- @content_css_class = "stars-bg stage-4"

- events_content_section(4, @event) do
  %ul.create-list
    %li
      != link_to _('Reminders'), event_reminders_path(@event), :class => 'link-reminders'
    %li
      != link_to _('Things to bring'), event_things_path(@event), :class => 'link-things'
!= render(:partial => "preview")

