- content_for(:head) do
  != stylesheet_link_tag "nyroModal.full"
  != javascript_include_tag "jquery.nyroModal"

- @content_css_class = "stars-bg stage-3"

- events_content_section(4, @event) do
  .content-section-heading
    %h1= _("Set event reminders for you and your guests")

  .twocolumns.twocolumns-decor
    .form
      .stage-containers
        - middle_box_container("reminders-list") do
          %h2= _("Reminders")
          .event-reminders
            != render(:partial => "reminders/index")

        - middle_box_container("reminders-list") do
          %h2= _("Message Confirmations")
          != _("Send RSVPs summary email")
          - event_rsvp_summary_select(@event)