- content_for(:head) do
  != stylesheet_link_tag "nyroModal.full"
  != javascript_include_tag "jquery.nyroModal"
  :javascript
    jQuery(function(){      
      jQuery.fn.nyroModal.settings.endShowContent = function(obj){
        jQuery(obj.content.selector + " select").customSelect();
        jQuery(obj.content.selector + " input:checkbox").customCheckbox();
        jQuery("#reminder_email_subject").focus();
      };
    })

- @content_css_class = "stars-bg stage-3"

- events_content_section(4, @event) do
  .content-section-heading
    %h1= _("Set event reminders for you and your guests")

  .twocolumns.twocolumns-decor
    .form
      .stage-containers
        - middle_box_container("reminders-list") do
          %h2= _("Reminders")
          .event-reminders
            != render(:partial => "reminders/index")

        - middle_box_container("summaries-list") do
          %h2= _("Message Confirmations")
          .arrival-container
            .arr-row
              - event_rsvp_summary_select(@event)
#invitation{:style => "display:none;"}
  .background_holder{ :style => "#{background_image_css(@event)}", :strech => @event.design.no_repeat_background ? "false" : "true" }
    != render(:partial => "rsvps/postcard", :locals => {:event => @event})
