%tr
  %td= payment.id
  %td= payment.user.id
  %td= payment.event.id
  %td= payment.amount.format_cents
  %td= payment.transaction_id
  %td= payment.emails_plan
  %td= payment.sms_plan
  %td= payment.paid_at
  %td= payment.emails_plan_prev
  %td= payment.sms_plan_prev
  %td= payment.pay_emails
  %td= payment.pay_sms
