- @page_title = _("FAQ | Eventify")

:javascript
  jQuery(document).ready(function(){
    jQuery("a.open").toggle(function(){
      jQuery(this).parents(".item").addClass("active");
      return false;
    }, function(){
      jQuery(this).parents(".item").removeClass("active");
      return false;
    });
    jQuery("a.close").click(function(){
      jQuery(this).parents(".item").removeClass("active");
      return false;
    });
  });

.faq
  .heading
    %h1= "שאלות נפוצות"
  .faq-content
    .item
      .headline
        %a.open{:href => "#"}= "האם צריך להירשם כדי לשלוח הזמנות?"
        %a.close{:href => "#"}= "close"
      .slide
        %p
          ב-Eventify תהליך ההרשמה נועד על מנת לשמור את פרטי האירוע בפרופיל המשתמש של המארגן ולאפשר שינויים ופעולות על הארוע גם לאחר שנשלח למוזמנים. תהליך ההרשמה קל ומהיר, רק למלא שם ו-email ולאשר את מייל ההפעלה מחשבון ה-email.
    .item
      .headline
        %a.open{:href => "#"}= "האם הרישום כרוך בתשלום?"
        %a.close{:href => "#"}= "close"
      .slide
        %p
          הרישום ל-Eventify אינו כרוך בתשלום וכולל רק פרטי אימייל ושם משתמש. האימייל מאפשר להעביר הודעות אישיות לנרשמים, ושם המשתמש הוא זה שיופיע כאשר ישלח מסר למוזמנים אחרים מחשבון זה.
    .item
      .headline
        %a.open{:href => "#"}= "האם השירות כרוך בתשלום?"
        %a.close{:href => "#"}= "close"
      .slide
        %p
          השירות עובד במתכונת של פרימיום כאשר אירוע הכולל עד 30 מוזמנים (שזה בעצם אירוע ל-30 משפחות) יהיה ללא עלויות ניהול ומעל זה עלות הניהול תהיה במחיר שווה לכל נפש.
    .item
      .headline
        %a.open{:href => "#"}= "למה בעצם לשלם?"
        %a.close{:href => "#"}= "close"
      .slide
        %p
          מודל החינם באינטרנט מתאפשר כאשר האתר נותן השירות מרויח בדרכים חלופיות לפי כמות התעבורה. רווח זה מגיע מפרסום, וממכירת פרטים על מאגר הלקוחות לגורמי פרסום שונים.
        %p
          אנו ב-Eventify דבקים במודל בו הלקוח משלם מחיר סמלי, אך נהנה משרות נטול פרסומות (כי מי רוצה פרסומות יחד עם ההזמנה שהוא עיצב לכבוד הברית) ואנחנו מתחייבים לא להעביר את פרטי לקוחותינו לשום גורם צד ג' (בכפוף לחוק במדינת ישראל). למעט נתונים שיבחרו המארגנים לחלוק עם המוזמנים לאירוע שלהם. 
        %p 
          על המדיניות המלאה של Eventify בנושא זה, ניתן לקרוא ב
          != link_to "תנאי השימוש", page_path("terms") 
          בסעיף "מידע והגנת הפרטיות".

    .item
      .headline
        %a.open{:href => "#"}= "מה זה פרימיום?"
        %a.close{:href => "#"}= "close"
      .slide
        %p
          פרימיום (
          %a{:href => "http://en.wikipedia.org/wiki/Freemium"}>= "freemium"
          ) הוא מודל עסקי נפוץ בעולם התוכנה וה-WEB2 הפועל ע"י מתן שרות בסיסי או מוגבל בכמות, בחינם, בעוד השירות המלא הינו בתשלום. מקור השם "פרימיום" הינו מהתחילית free (חינם) ומהסיומת של premium (פרמיה).
    .item
      .headline
        %a.open{:href => "#"}= "האם המוזמנים צריכים להיות רשומים על מנת לקבל הזמנה?"
        %a.close{:href => "#"}= "close"
      .slide
        %p
          ב- Eventify, המוזמנים אינם צריכים להירשם על מנת לקבל את ההזמנה לתיבת האימייל שלהם ולהכנס לדף סיכום האירוע על מנת לאשר את הגעתם. יחד עם זאת, יש ערך מוסף לרישום שכן כל מי שרשום לשירות יכול לראות בעמוד האירועים שלו את כל האירועים אותם הוא מארגן ואת כל האירועים אליהם הוא מוזמן.
    .item
      .headline
        %a.open{:href => "#"}= "כמה זמן עובר עד להגעת ההזמנות לתיבות הדוא\"ל של המוזמנים?"
        %a.close{:href => "#"}= "close"
      .slide
        %p
          ההזמנות נשלחות מייד עם הלחיצה על כפתור השליחה ובמרבית המקרים פרק הזמן יהיה זהה לזה של שליחת אימייל רגיל. אולם, מהירות הגעתן (כמו זו של מייל רגיל) כפופה לעומסים ברשת האינטרנט ובשרתים, במקרה הגרוע, תהליך השליחה עלול להמשך עד כשעתיים אך לא יותר.
    .item
      .headline
        %a.open{:href => "#"}= "האם הזמנות ה-SMS נשלחות מיד עם שליחת ההזמנות ל-אימייל?"
        %a.close{:href => "#"}= "close"
      .slide
        %p
          ב-Eventify אנו מבינים את הצורך של מארגן האירוע בשליחה מיידית של ההזמנות ויחד עם זאת, אנו יודעים כי יש להתחשב גם במקבלי ההזמנות. לשם כך ההזמנות אשר נשלחות ב-SMS ישלחו כברירת מחדל בשעות סבירות, וכך גם תזכורות ב-SMS. כלומר, כאשר מארגני האירוע שולחים את ההזמנות אחרי 22:00 או לפני 10:00, ההזמנות והתזכורות לאירוע, הנשלחות ב-SMS, ישלחו בפועל בין שעה 10:00 ל-10:30 לפי העומס על השרתים.
    .item
      .headline
        %a.open{:href => "#"}= "שכחתי את הסיסמה שלי, מה עושים?"
        %a.close{:href => "#"}= "close"
      .slide
        %p
          בחלון ההתחברות, יש ללחוץ על הקישור "שכחת סיסמה", המסומן בתרשים במסגרת כחולה. המערכת תפתח מקום לכתיבת הדוא"ל עימו נרשמתם לשרות.
        %img{:src => "/images/FAQ-forgot_password.gif"}
        %br
        %br
        %img{:src => "/images/FAQ-forgot_password_open.gif"}
        %br
        %p
          לאחר מילוי כתובת המייל ולחיצה על שלח, ישלחו לתיבת הדוא"ל הוראות לאיפוס הסיסמא. יש למלא אחר ההוראות שנשלחו.
    .item
      .headline
        %a.open{:href => "#"}= "איך אני משנה את הסיסמה שלי?"
        %a.close{:href => "#"}= "close"
      .slide
        %p
          ניתן לשנות סיסמה בכל עת מעמוד הפרופיל.
        %p
          על מנת להגיע לעמוד הפרופיל יש ללחוץ על כפתור "הדף שלי" ואז על הקישור ל"פרופיל".
        %p
          בדף הפרופיל יש לבחור ב"ערוך" משמאל לסיסמה, למלא את הסיסמה הנוכחית, סיסמה חדשה ולאמת את הסיסמה החדשה. כפתור ה"שמור" יבצע שמירה של הסיסמה החדשה.

    .item
      .headline
        %a.open{:href => "#"}= "האם ניתן ליצור אירוע כאירוע שחוזר על עצמו במועדים קבועים?"
        %a.close{:href => "#"}= "close"
      .slide
        %p
          נכון להיום אין לנו אפשרות לקבוע אירוע כאירוע החוזר על עצמו, אך יש לנו מנגנון העתקת אירוע המאפשר לסמן אירוע קיים מהאירועים שלי ולהעתיקו ליצירת אירוע חדש. מנגנון ההעתקה מאפשר ליצור אירוע זהה ולקבוע לו מועד חדש ובכך בעצם מאפשר בקלות יחסית שהאירוע יחזור על עצמו.
    .item
      .headline
        %a.open{:href => "#"}= "האם ניתן לשלוח הזמנות מודפסות?"
        %a.close{:href => "#"}= "close"
      .slide
        %p
          אנו ב-Eventify מאמינים בסביבה ירוקה ולכן אנו ממליצים להרגיל את המוזמנים שלכם לקבל ולאשר הזמנות אונליין.יחד עם זאת, אנחנו לא מנותקים מההוויה הישראלית, לפיה, אם סבתא יוכבד (שם בדוי) לא תקבל הזמנה בדואר, תנושלו מהצוואה ולכן הוספנו אפשרות להדפיס את הזמנות בבית. אפשרות זו מתאפשרת מדף סיכום האירוע.
