- @page_title = _("Pricing")

#pricing_page.top-text
  %h2= _("Pricing")
  %p
    בימים אלו, לאחר תקופה ארוכה של פתיחת שירות המוזמנים בחינם ובכדי להבטיח את המשך הנאתכם משימוש באתר שלנו, עברנו למודל פרימיום (freemium).
  %p
    כחלק ממודל זה שירות ההזמנות וניהול המוזמנים ניתן חינם ל-30 ההזמנות הראשונות ובתשלום מדורג לאירועים גדולים יותר.
  %p
    אנו עובדים קשה על מנת לספק לכם מוצר איכותי ושירות טוב שיתאימו לציפיות שלכם:
  %ul
    %li
      ללא פרסומות
    %li
      ללא מסירת מידע על העדפות המשתמשים באתר
    %li
      עם גלריית הזמנות מגוונת
    %li
      תזכורות למוזמנים באימייל וב-SMS, ייבוא כתובות מייל, ריכוז אישורי ההגעה ועוד כלים רבים
  %p
    נשמח לקבל פידבקים ולענות על כל שאלה.
  %p
    צוות Eventify.

  .pricing
    .heading
      %h3= _("Pricing Summary")
    .pricing-form
      .section
        %dl
          %dt= _("Standard Invitations")
        .invite
          != render(:partial => "payments/header", :locals => {:item => "#{_('Guests')}"})
          .result-panel{:style => "display:none;"}
          .slide
            .slide-hold
              %ul
                - Eventify.const_get(:STANDARD_EMAILS_PLAN_PROPERTIES).reverse().each_with_index do |p, indx|
                  %li
                    %label{:for => "radio-quantity-#{indx}"}
                      %span.quantity= _("#{p.first.first} - #{p.first.last}")
                      %span.price
                        %strong= p.last.last.format_cents(false)
                        ₪
      .section
        %dl
          %dt= _("Premium Invitations")
        .invite
          != render(:partial => "payments/header", :locals => {:item => "#{_('Guests')}"})
          .result-panel{:style => "display:none;"}
          .slide
            .slide-hold
              %ul
                - Eventify.const_get(:PREMIUM_EMAILS_PLAN_PROPERTIES).reverse().each_with_index do |p, indx|
                  %li
                    %label{:for => "radio-quantity-#{indx}"}
                      %span.quantity= _("#{p.first.first} - #{p.first.last}")
                      %span.price
                        %strong= p.last.last.format_cents(false)
                        ₪


