- if false # @event.require_payment_for_sms?
  Payment for SMS required!
  != link_to _("Edit Guests"), event_guests_path(@event)
  != button_to _("Don't send SMS invitations"), event_path(@event, :cancel_sms => true), :method => :put, :confirm => _("Are you sure?")

.h-container
  .t &nbsp;
  .c
    .h-container-content
      .confirmed-box.send-invitations
        %h1= @event.name
        .table-box
          .table-box-t
            .holder
              .forms-block
                - if @event.user.activated_at
                  %h3= _("Invitations to send: %{email_count} by email and %{sms_count} by SMS") % { :email_count => @invitations_to_send[:email], :sms_count => @invitations_to_send[:sms]}
                  - form_for @event, :event, :url => invitation_path(@event), :builder => MiddleBoxFormBuilder::Builder, :method => :post do |f|
                    = f.object.errors.on(:base)
                    - if @invitations_to_send[:sms] > 0
                      .form-cols.send-invitations
                        != f.text_field :sms_message, :label => _("SMS message text")
                        != f.text_field :host_mobile_number, :label => _("SMS Replys mobile phone")
                        - if !Astrails.good_time_to_send_sms?(@event.tz) && @event.allow_delayed_sms?
                          .settings-form-row
                            %label= _("Send SMS messages tomorrow morning")
                            != f.check_box :delay_sms_sending
                    .forms-block-btns
                      != link_to_function _("Send"), "jQuery(this).parents('form').get(0).submit()", :class => "btn"
                      != link_to _("Edit Guests"), event_guests_path(@event), :class => "cancel"
                - else
                  %h2= _("Instructions to activate your account have been emailed to you. Please check your email.")
  .b-alt &nbsp;