- @page_title=_("Send Invitations | Eventify")
- if false # @event.require_payment_for_sms?
  Payment for SMS required!
  != link_to _("Edit Guests"), event_guests_path(@event)
  != button_to _("Don't send SMS invitations"), event_path(@event, :cancel_sms => true), :method => :put, :confirm => _("Are you sure?")

.h-container
  .t &nbsp;
  .c
    .h-container-content
      .confirmed-box.send-invitations
        %h1= @event.name
        .table-box
          .table-box-t
            .holder
              .forms-block
                - if @event.user.activated_at
                  != render(:partial => "edit")
                - else
                  %h2= _("Instructions to activate your account have been emailed to you. Please check your email.")
  .b-alt &nbsp;