- f.inputs :name => "General" do
  != f.input :name, :required => true
  != f.input :email, :required => true
  != f.input :mobile

- f.inputs :name => "Address" do
  != f.input :country, :as => :country
  != f.input :city
  != f.input :street
  != f.input :zip

- f.inputs :name => "Business" do
  != f.input :company
  != f.input :title
