.top-text
  %h2= _("Hello %{username},") % {:username => h(current_user.name)}
  %p= _("Here your can manage contracts, and import them from your email!")

- page_with_tabs(:contacts) do
  - contacts_navigation(:index)
  .events-holder
    %h3= _("Edit Contact")
    .table-box.table-box-alt
      .table-box-t
        .holder
          .forms-block
            - form_for @contact, :builder => MiddleBoxFormBuilder::Builder do |f|
              = f.object.errors.on(:base)
              != render :partial => "form", :locals => { :f => f }
              .forms-block-btns
                != link_to_function _("Save"), "jQuery(this).parents('form').get(0).submit()", :class => "btn"
                != link_to _("Cancel"), contacts_path, :class => "btn"
