.top-text
  %h2= _("Hello %{username},") % {:username => current_user.name}
  %p= _("In your page you can track the events you’ve created, and create new ones!")

- page_with_tabs(:contacts) do

  != link_to "New", new_contact_path
  != link_to "Import", contact_importers_path

  %table
    %tr
      %th Name
      %th Email
      %th Mobile
      %th Business Info
      %th Address
      %th &nbsp;
    != render(:partial => @contacts)

  != will_paginate(@contacts)