- @page_title=_("Address Book | Eventify")
.top-text
  %h2= _("Hello %{username},") % {:username => h(current_user.name)}
  %p= _("Here your can manage contracts, and import them from your email!")

- page_with_tabs(:contacts) do
  - contacts_navigation(:index)
  .events-holder
    %h3= _("All Contacts")
    .table-box
      .holder
        %table
          %thead
            %tr
              %td= _("Name")
              %td= _("Email")
              %td= _("Mobile")
              %td.edit= _("Edit")
              %td.del= _("Delete")
          %tbody
            != render(:partial => @contacts)
        - if @contacts.total_pages > 1
          != will_paginate(@contacts, :renderer => DesignsWillPaginate)
        - else
          .page-nav &nbsp;