.content-box
  .holder
    .frame
      .content-box-heading
        %h3= _("Guests")
      .tabs-container
        != render(:partial => "shared/rsvp_tabs", :locals => {:event => resource.event})
        .tabs-block
          .tabs-bottom
            .info-cols
              .info-col
                != render(:partial => 'guest')
                != render(:partial => 'guest')
                .info-col-row
                  %p
                    Lorem
                    %em
                      (2 dolar)
                .info-col-row
                  %p
                    Lorem
                    %em
                      (5 dolar)
                  .note-box
                    Lorem ipsum
                .info-col-row
                  %p
                    Lorem
                .info-col-row
                  %p
                    Lorem
                    %em
                      (2 dolar)
              .info-col
                != render(:partial => 'guest')
                != render(:partial => 'guest')
                .info-col-row
                  %p
                    Lorem
                    %em
                      (2 dolar)
                .info-col-row
                  %p
                    Lorem
                    %em
                      (5 dolar)
                  .note-box
                    Lorem ipsum
                .info-col-row
                  %p
                    Lorem
                .info-col-row
                  %p
                    Lorem
                    %em
                      (2 dolar)
              .info-col
                .info-col-row
                  %p
                    Lorem
                    %em
                      (5 dolar)
                  .note-box
                    Lorem ipsum
                .info-col-row
                  %p
                    Lorem
                .info-col-row
                  %p
                    Lorem
                    %em
                      (2 dolar)
                .info-col-row
                  %p
                    Lorem
                    %em
                      (5 dolar)
                  .note-box
                    Lorem ipsum
                .info-col-row
                  %p
                    Lorem
            .info-bottom
              %a.btn-sml{ :href => "#" }
                Button
