.content-box
  .holder
    .frame
      .content-box-holder
        .image-holder
          != image_tag(resource.event.design.card.url(:stage2))
          / %img{ :src => "images/img-ill-6-en.jpg", :height => "395", :alt => "image", :width => "587" }
          != render(:partial => "events/title_and_message", :locals => {:event => resource.event})
        %h3= resource.event.name
        %dl.d-list
          - unless resource.event.location_name.blank?
            %dt= _("Where:")
            %dd= resource.event.location_name

          - unless resource.event.location_address.blank?
            %dt= _("Address:")
            %dd
              = resource.event.location_address
              - if resource.event.map && !resource.event.map.url.blank?
                != link_to content_tag(:span, _("show map")), resource.event.map.url, :target => "_blank"
              - elsif !resource.event.map_link.blank?
                != link_to content_tag(:span, _("show map")), resource.event.map_link, :target => "_blank"

          %dt= _("Date:")
          %dd= resource.event.starting_at.to_s(:isra_date)
          %dt= _("Time")
          %dd= resource.event.starting_at.to_s(:isra_time)

          - unless resource.event.ending_at.blank?
            = _("Event ends at")
            %br
            %dt= _("Date:")
            %dd= resource.event.ending_at.to_s(:isra_date)
            %dt= _("Time")
            %dd= resource.event.ending_at.to_s(:isra_time)
            

