#sidebar-1
  .side-box
    .holder
      .side-box-heading
        %h2= _("Hello %{username}") % {:username => h(resource.name)}
      .side-box-content
        .rsvp-form
          - unless resource.rsvp
            != render(:partial => 'new')
          - else
            != render(:partial => 'edit')
        .side-box-row.side-box-row-alt
          %h3= _("Export to your calendar:")
          != render(:partial => 'shared/export_links', :locals => {:event => resource.event})
  != render(:partial => 'takings/edit')