#sidebar-1.overflow_visible
  .side-box.overflow_visible
    .holder
      .side-box-heading
        %h2= _("Hello %{username}") % {:username => h(resource.name)}
      .side-box-content{:style => "overflow:visible"}
        .rsvp-form
          - unless resource.rsvp
            != render(:partial => 'new')
          - else
            != render(:partial => 'edit')
        .side-box-row.side-box-row-alt
          %h3= _("Export to your calendar:")
          != render(:partial => 'shared/export_links', :locals => {:lnk => :rsvp_ical_path, :event => resource.email_token, :event_id => resource.event_id, :email_recipient => resource})
        #like_holder.side-box-row.side-box-row-alt.overflow_visible
          #fb-root
          :javascript
            window.fbAsyncInit = function() {
              FB.init({
                appId: '139096766151419',
                status: true,
                cookie: true,
                xfbml: true
              });
            };
            (function() {
              var e = document.createElement('script'); e.async = true;
              e.src = document.location.protocol +
                '//connect.facebook.net/en_US/all.js';
              document.getElementById('fb-root').appendChild(e);
            }());
          %fb:like{:href => "http://www.eventify.co.il", :layout => "standard", :show_faces => "false", :width => "290"}
  - unless resource.event.things.count.zero?
    != render(:partial => 'takings/edit')
  != link_to_banner
