!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=EmulateIE7"}
    %meta{ :name => "title", :content => _("Online Invitations, Event Planning and Managing – Eventify")}
    %meta{ :name => "description", :content => _("Online invitations made easy. Create & manage online invitations with templates to match any event! Plan your event in style!")}
    %title=_("Invitation | Eventify")
    != stylesheet_link_tag 'nyroModal.full', 'rsvps', :media => 'all'
    != render(:partial => "layouts/javascripts")
    != javascript_include_tag 'jquery.nyroModal', 'jquery.cross-slide', 'rsvps'
    /[if IE]
      != stylesheet_link_tag 'ie', :media => 'screen'
    /[if lt IE 7]
      != stylesheet_link_tag 'lt7', :media => 'screen'
  %body{ :class => body_class }
    #envelope!= link_to '', '#invitation'
    != render(:partial => "toolbar")

    #invitation{:style => "display:none;"}
      .background_holder
        != image_tag(resource.event.design.card.url, :class => "back")
        != render(:partial => "postcard", :locals => {:event => resource.event})
