!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=EmulateIE7"}
    != stylesheet_link_tag 'nyroModal.full', 'rsvps', :media => 'all'
    != render(:partial => "layouts/javascripts")
    != javascript_include_tag 'jquery.nyroModal', 'rsvps'
    /[if IE]
      != stylesheet_link_tag 'ie', :media => 'screen'
    /[if lt IE 7]
      != stylesheet_link_tag 'lt7', :media => 'screen'
  %body{ :class => body_class }
    #envelope
      != link_to image_tag("/images/envelope.jpg"), '#invitation', :class => "nyroModal envelope"
    != render(:partial => "toolbar")

    #invitation{:style => "display:none;"}
      .background_holder
        %img.back{:src => "#{resource.event.design.card.url}"}
        .window{:style => "height:182px;width:186px;position:absolute;top:69px;left:195px;z-index:1"}
          %img{:src => "/images/chicas_head.jpg", :style => "width:100%;height:100%;z-index:1"}
        != render(:partial => "postcard", :locals => {:event => resource.event})
