!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=EmulateIE7"}
    != stylesheet_link_tag 'nyroModal.full', 'rsvps', :media => 'all'
    != render(:partial => "layouts/javascripts")
    != javascript_include_tag 'jquery.nyroModal', 'rsvps'
    /[if IE]
      != stylesheet_link_tag 'ie', :media => 'screen'
    /[if lt IE 7]
      != stylesheet_link_tag 'lt7', :media => 'screen'
  %body{ :class => body_class }
    #envelope
      != link_to image_tag("/images/envelope.jpg"), '#invitation', :class => "nyroModal envelope"
    != render(:partial => "toolbar")

    #invitation{:style => "display:none;"}
      .background_holder{ :style => "#{background_image_css(resource.event)}", :strech =>         resource.event.design.no_repeat_background ? "false" : "true" }
        != render(:partial => "postcard", :locals => {:event => resource.event})
