%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=EmulateIE7"}
    != stylesheet_link_tag 'rsvps', :media => 'all'
    != render(:partial => "layouts/javascripts")
    != javascript_include_tag "rsvps"
  %body{ :class => body_class, :style => "#{background_color_css}" }
    #background_holder{ :style => "#{background_image_css(resource.event)}" }
      != render(:partial => "postcard", :locals => {:event => resource.event})
    != render(:partial => "toolbar")