%tr
  %td= garden.id
  %td!= garden.user.email unless garden.user.blank?
  %td!= link_to garden.name, admin_garden_path(garden)
  %td= garden.address
  %td!= image_tag garden.map.url(:small) unless garden.map.url.blank?
  %td!= link_to "View Map", garden.url unless garden.url.blank?
  %td!= link_to "Delete", admin_garden_path(garden), :method => :delete, :confirm => "Are you sure?"
  %td!= link_to "Edit", edit_admin_garden_path(garden)