- if @event.require_payment_for_sms?
  Payment for SMS required!
  != link_to _("Edit Guests"), event_guests_path(@event)
  != button_to _("Don't send SMS invitations"), event_path(@event, :cancel_sms => true), :method => :put, :confirm => _("Are you sure?")

- if @not_invited_counts[:total].zero?
  All invitations have been sent.
- else
  Invitations to send:
  SMS:
  = @not_invited_counts[:sms]
  Email:
  = @not_invited_counts[:email]

  != button_to _("Send invitations"), event_invitations_path(@event), :method => :post