- @page_title = _("Pricing | Eventify")

- content_for :head do
  :css
    #content .content-area {
      width: 984px;
    }
    .hebrew .pricing {
      padding-left: 0px;
    }
  != javascript_include_tag "jquery.package_price"
  :javascript
    jQuery(function(){
      jQuery("input[name=payment[emails_plan]]").click(function(){
        jQuery(window).trigger('amount-changed');
      });
      jQuery(window).bind('amount-changed', function() {
        // get users
        var users = parseInt(jQuery("input[name=payment[emails_plan]]:checked").parents("li:first").find("span.price span.price").html()) || 0;
        // get sms
        var sms = parseInt(parseFloat(jQuery(".section.sms-package span.price strong").html()) * 100);
        // get prints
        var printings = parseInt((parseFloat(jQuery(".section.printings-package span.price strong").html()) || 0) * 100);
        // set total
        var amount = users + sms + printings;

        jQuery("#payment_amount").val(amount)
        jQuery("#total_amount").html((amount/100).toFixed(2));
      });
    });

.pricing
  .heading
    %h3= _("Pricing Summary%{upgrade_status}") % {:upgrade_status => resource.upgrade? ? _(" - upgrade") : ""}
  - form_for :payment, resource, :url => event_payments_path(@event), :html => {:class => "pricing-form"} do |f|
    %fieldset
      != hidden_field_tag :back, params[:back]
      .section
        %dl
          %dt= _("Invitation Package -")
          %dd= _("Number of invitations sent in this event: %{guests_count}") % {:guests_count => @invitations_count}
        %p= _("In case you wish to add more invitations, you can select a bigger package")
        .invite
          != render(:partial => "header", :locals => {:item => "#{_('Guests')}"})
          .result-panel{:style => "display:none;"}
          .slide
            .slide-hold
              %ul
                - emails_plans.each_with_index do |p, indx|
                  %li{:class => li_class_for_email_plan(p, indx)}
                    - emails_radio(p, indx)
                    %label{:for => "radio-quantity-#{indx}"}
                      %span.quantity= _("#{p.first.first} - #{p.first.last}")
                      %span.price
                        %strong= resource.email_upgrade_price(p.last.first).format_cents(false)
                        %span.price{:style => "display:none"}= resource.email_upgrade_price(p.last.first)
                        ₪

              != link_to_function "open", "", :class => "btn-open"
      .section.sms-package
        != f.hidden_field :sms_plan
        %dl
          %dt= _("SMS Package - ")
          %dd= _("Number of SMSs to send: %{sms_count}") % {:sms_count => resource.event.total_sms_count}
        %p= _("In case you wish to send more SMSs, you can select a bigger package")
        .invite
          != render(:partial => "header", :locals => {:item => "#{_('SMS')}"})
          .result-panel
            != render(:partial => "controls", :locals => {:count => resource.sms_plan})
            %span.price
              %strong= resource.extra_payment_sms.format_cents
              ₪
        :javascript
          jQuery(function(){
            jQuery(".section.sms-package").package_price(#{resource.extra_payment_sms}, #{resource.sms_plan}, #{Eventify::SMS_BATCH}, #{Eventify::SMS_PRICE})
          })

      /
        .section.printings-package
          != f.hidden_field :prints_plan
          %dl
            %dt= _("Printed Invitations Package -")
            %dd= _("Number of printed invitations you requested: %{prints_count}") % {:prints_count => resource.event.prints_ordered}
          %p= _("In case you wish to print more invitations, you can select a bigger package")
          .invite
            != render(:partial => "header", :locals => {:item => "#{_('Guests')}"})
            .result-panel
              != render(:partial => "controls", :locals => {:count => resource.prints_plan})
              %span.price
                %strong= resource.extra_payment_prints.format_cents
                ₪
          :javascript
            jQuery(function(){
              jQuery(".section.printings-package").package_price(#{resource.extra_payment_prints}, #{resource.prints_plan}, #{Eventify::PRINTS_BATCH}, #{Eventify::PRINTS_PRICE})
            })

      .total-bar
        %span.label= _("Total")
        %em
          %strong#total_amount= (resource.amount < 0 ? 0 : resource.amount.format_cents)
          ₪
        != f.hidden_field :amount
      .nav
        != link_to_function _("Continue"), "submit_payment()", :class => "btn-continue"
        != link_to _("Edit Guests"), event_guests_path(resource.event_id), :id => "payments_edit_guests_link", :class => "underline"
        - unless current_user.is_agreed_to_terms
          %div.is_agree_to_terms
          %input{:type => "checkbox", :name => "is_agree_to_terms", :id => "is_agree_to_terms", :value => "1"}
          %label{:for => "is_agree_to_terms"}=_("I agree to the")
          %a.underline{:href => page_path("terms"), :target => "_blank"}=_("terms of use")

:javascript
  function submit_payment() {
    var data = jQuery('form.pricing-form').serialize();
    jQuery('body').css('cursor', 'wait');
    var popup = window.open("", "PaymentPage", "status=1,location=0,height=570,width=720");
    jQuery.ajax({
      url: "#{event_payments_path(@event)}",
      type: "POST",
      dataType: "json",
      data: data,
      success: function(data){
        if(data.error) {
          alert(data.error);
          if(data.to_refresh === true){
            popup.close();
            window.location.reload();
          }
          return;
        }
        if(data.redirect_to) {
          popup.close();
          window.location.href = data.redirect_to;
          return;
        }
        //alert(data.payment_url);
        popup.location.href = data.payment_url;
        jQuery('body').css('cursor', 'default');
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert(textStatus);
      }
    });
  }
