%tr
  %td= netpay_log.id
  %td= netpay_log.replyCode
  %td= netpay_log.replyDesc
  %td= netpay_log.trans_id
  %td= netpay_log.trans_amount
  %td= netpay_log.trans_currency
  %td= netpay_log.trans_installments
  %td= netpay_log.trans_refNum
  %td= netpay_log.client_fullName
  %td= netpay_log.client_phoneNum
  %td= netpay_log.client_id
  %td= netpay_log.trans_date
  %td= netpay_log.paymentDisplay

