%tr{:id => dom_id(user)}
  %td= user.id
  %td
    = user.name
    - if user.is_admin?
      (admin)
  %td= user.email
  %td= user.activated_at.blank? ? "" : "true"
  %td= Guest.find_by_sql(["SELECT events.user_id from guests JOIN events ON guests.event_id = events.id where guests.email = ? AND guests.created_at < ?", user.email, user.created_at]).length > 0 ? "true" : ""
  %td= user.events.count
  %td= user.payments.paid.sum(:amount).format_cents
  %td.is_free= user.is_free?
  %td!= link_to_remote "Toggle Free User", :url => admin_user_path(user), :method => :put, :confirm => _("Are you sure?"), :with => "'todo=toggle_free'"
  %td!= link_to_remote "Create Designer", :url => admin_user_path(user), :method => :put, :confirm => _("Are you sure?"), :with => "'todo=create_designer'"
  %td!= link_to "user's events", admin_events_path(:by_user_id => user.id)
