#footer
  .footer-area
    %h3
      = _("Categories")
    .foot-lists
      - categories_footer
    .foot-box
      %ul
        %li!= link_to _("About Eventify"), page_path("about")
        %li!= link_to _("Pricing"), page_path("pricing")
        %li!= link_to _("Contact Us"), page_path("contact")
        %li!= link_to _("Terms of Use"), page_path("terms")
        %li!= link_to _("Feedback"), page_path("feedback")

        - if current_user.try(:is_admin?)
          %li!= link_to "i18n", translation_keys_path(:per_page => 10000)
          %li!= link_to "conf", global_preferences_path
          %li!= link_to "restart", restart_path, :method => :post, :confirm => "Really RESTART the server??!"
          - FastGettext.available_locales.each do |locale|
            - if current_locale == locale
              %li= locale
            - else
              %li!= link_to AVAILABLE_LOCALE_NAMES[locale], locale_url_for(locale)

      %p= _("All right resevred to Eventify ©")
      %p.by!= _("Design and UI %{link}") % {:link => link_to(_("Cat&amp;Dog Studio"), "#")}