#footer
  .footer-area
    %h3
      = _("Categories")
    .foot-lists
      - categories_footer
    .foot-box
      %ul
        %li
          %a{ :href => "#" }= _("About Eventify")
        %li
          %a{ :href => "#" }= _("Pricing")
        %li
          %a{ :href => "#" }= _("Contact Us")
        %li
          %a{ :href => "#" }= _("Terms of Use")
        %li
          %a{ :href => "#" }= _("Site Map")

        - if current_user.try(:is_admin?)
          %li!= link_to "i18n", translation_keys_path
          %li!= link_to "conf", global_preferences_path
          %li!= link_to "restart", restart_path, :method => :post, :confirm => "Really RESTART the server??!"
          - FastGettext.available_locales.each do |locale|
            - if current_locale == locale
              %li= locale
            - else
              %li!= link_to AVAILABLE_LOCALE_NAMES[locale], locale_url_for(locale)

      %p= _("All right resevred to Eventify ©")
      %p.by= _("Design and UI %{link}") % {:link => link_to(_("Cat&amp;Dog Studio"), "#")}