#header
  .header-area
    %strong.logo
      %a{ :href => "/" }
        Eventify
    .search-form
      %form{ :action => "#" }
        %fieldset
          %input.search-btn{ :src => "/images/ico-search-en.gif", :type => "image" }
          .input-bg
            %input.text{ :value => s_("default search text|search"), :type => "text" }
    %ul#top-nav
      != render(:partial => "layouts/top_categories")
      %li
        %a.top{ :href => "#" }= _("FAQ")
      %li
        %a.top{ :href => "#" }= _("Plans")
    != render(:partial => "layouts/user_menu")
    %div
      %ul.lang
        - (FastGettext.available_locales - ["ru"]).each do |locale|
          %li!= link_to(AVAILABLE_LOCALE_NAMES[locale], locale_url_for(locale))