#header
  .header-area
    %strong.logo
      %a{ :href => "/" }
        Eventify
    - unless @skip_header
      .search-form
      %ul#top-nav
        != render(:partial => "layouts/top_categories")
        %li!= link_to _("FAQ"), page_path("faq"), :class => "top"
      .top-user-menu
        != render(:partial => "layouts/user_menu")
    %div
      %ul.lang
        - unless @disable_language_change
          - (FastGettext.available_locales - ["ru"]).each do |locale|
            %li!= link_to(AVAILABLE_LOCALE_NAMES[locale], locale_url_for(locale))
        %li.home_page!= link_to _("Home Page"), "/"
