- jquery_version = "1.4.2" unless jquery_version
- if "production" == RAILS_ENV
  != javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/#{jquery_version}/jquery.min.js"
  != javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"
- else
  != javascript_include_tag "jquery#{jquery_version}"
  != javascript_include_tag "jquery-ui"
%script{ :src => 'https://apis.google.com/js/plusone.js', :type => 'text/javascript', :charset => 'utf-8' }
  != render(:partial => "layouts/google_plusone_header")
