- unless logged_in?
  %ul.subnav
    %li.btn-1
      != login_register_button(_("Register"))
      .menu-list
        .top
        .mid
          .inner
            .inner-box
              .bg-t
              #register_form.bg-m
                != render(:partial => "users/new")
              .bg-b
        .btm
    %li.btn-2
      != login_register_button(_("Login"))
      .menu-list
        .top
        .mid
          .inner
            .inner-box
              .bg-t
              #login_form.bg-m
                != render(:partial => "user_session/new")
                .password-reset
                  != render(:partial => "passwords/new")
              .bg-b
        .btm
- else
  .personal-menu-w
    .personal-menu
      .personal-menu-c
        %strong= _("Hello, %{user}") % {:user => current_user.name}

        %p
          - link_to_next_event
        .personal-menu-h
          .personal-menu-h-frame
            #mypage.opener!= link_to_function(_("My Page"), "")
            :javascript
              jQuery(function(){                
                jQuery("#mypage").click(function(e){
                  jQuery('.menu-list').toggle();
                  e.stopPropagation();
                });
                jQuery("body").click(function(){
                  jQuery('.menu-list:visible').hide();
                })
              });
            %ul.menu-list
              %li!= link_to _("Contacts"), contacts_path
              %li!= link_to content_tag(:strong, _("Events")), events_path
              %li!= link_to _("Profile"), profile_path
              %li!= link_to _("Exit"), user_session_path, :method => :delete
      .personal-menu-b &nbsp;