!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=EmulateIE7"}
    %meta{ :name => "title", :content => @meta_title || _("Online Invitations, Event Planning and Managing – Eventify")}
    %meta{ :name => "description", :content => @meta_description || _("Online invitations made easy. Create & manage online invitations with templates to match any event! Plan your event in style!")}
    %title!= @page_title || h(controller.action_name)
    != render(:partial => "layouts/html_head")
    != render(:partial => "layouts/kampyle_feedback_head")
    /[if IE]
      != stylesheet_link_tag 'ie', :media => 'screen'
    /[if lt IE 7]
      != stylesheet_link_tag 'lt7', :media => 'screen'
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
  %body{:class => body_class}
    #wrapper
      #main
        #content{:class => @content_css_class}
          .content-area{:class => @content_area_css_class}
            != render :partial => 'layouts/flashes'
            != yield
        != render(:partial => 'layouts/header')
      - unless @skip_footer
        != render(:partial => 'layouts/footer')
    != render(:partial => "layouts/kampyle_feedback")