!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title!= @page_title || h(controller.action_name)
    != render(:partial => "layouts/html_head")
    != yield :head
    /[if IE]
      != stylesheet_link_tag 'ie', :media => 'scren'
    /[if lt IE 7]
      != stylesheet_link_tag 'lt7', :media => 'scren'
  %body
    #wrapper
      #main
        #content
          .content-area
            != render :partial => 'layouts/flashes'
            != yield
        != render(:partial => 'layouts/header')
      != render(:partial => 'layouts/footer')