!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=EmulateIE7"}
    - if @meta_title
      %meta{ :name => "title", :content => @meta_title}
    - if @meta_description
      %meta{ :name => "description", :content => @meta_description}
    - if @meta_keywords
      %meta{ :name => "keywords", :content => @meta_keywords || ""}
    %meta{ :property => "fb:app_id", :content => "139096766151419"}
    %meta{ :property => "fb:admins", :content => "560937615"}
    %title!= @page_title || h(controller.action_name)
    != render(:partial => "layouts/html_head")
    - unless request.ssl?
      != render(:partial => "layouts/kampyle_feedback_head")
    /[if IE]
      != stylesheet_link_tag 'ie', :media => 'screen'
    /[if lt IE 7]
      != stylesheet_link_tag 'lt7', :media => 'screen'
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    %meta{:name => "google-site-verification", :content => "VGkpqQfQzIc12NDkLylg09nrGZQ3N8Z_cd6J2pZqGDs"}
    - unless IS_STAGE
      != render(:partial => "layouts/google_analytics")
  %body{:class => body_class}
    #wrapper
      #main
        #content{:class => @content_css_class}
          .content-area{:class => @content_area_css_class}
            != render :partial => 'layouts/flashes'
            != yield
        != render(:partial => 'layouts/header')
      - unless @skip_footer
        != render(:partial => 'layouts/footer')
    - unless request.ssl?
      != render(:partial => "layouts/kampyle_feedback")